<p> Вы сделали заказ на сайте <a href="www.123123">  LenParfumes </a> </p>
<table class="table">
    <thead>
      <tr>
        <th>Номер Заказа </th>
        <th>Оплата</th>
        <th> Товар </th>
        <th> Общая сумма</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.get_status_pay_display}}</td>
        <td>
             <ul>
            {%for item in order.cartproduct.all%}
            <li>{{item.product.title}} x {{item.size}} мл x  {{item.product.price}} Грн</li>
            {%endfor%}
        </ul><br>
    </td><br>
    <br>
    <td>{{order.final_price}}</td>
</tr>
<h4 >Дополнительная информация</h4>
<p>Имя: <strong>{{order.first_name}}</strong></p>
<p>Фамилия: <strong>{{order.last_name}}</strong></p>
<p>Телефон: <strong>{{order.phone}}</strong></p>
<p>Город: <strong>{{order.adress}}</strong></p>
<p>Отделение: <strong>{{order.otdel}}</strong></p>
<p>Коментарий: <strong>{{order.comment}}</strong></p>
<p>Создано  <strong>{{order.created_at}}</strong></p>

</tbody>           
</table>

