{%extends 'base.html'%} 

 {%block main%}


<hr class="offset-lg">
<hr class="offset-lg">
<hr class="offset-md">

<div class="container">
   
   <div class="row">

       <div class="col-md-6 col-md-offset-3">
           <div class="panel panel-login">
            <div class="panel-body">
                <div class="row">
                    <div class="alert alert-success" role="alert">
                        <h3 class="alert-heading">Сообщение отправлено на указаный е-майл </h4>
                        <p class="h3">Вам отправлено сообщение с дальнейшей инструкцией</p>
                        <hr>
                        <p class="mb-0">При необходимости свяжитесь с Администратором.
                            
                            <a href="mailto:len.parfums@gmail.com">e-mail</a></p>
                      </div>
                </div>
            </div>
               </div>
           </div>
       </div>
   </div>
 {%endblock main%}

 