{%extends 'base.html'%}
{%load static%}
{%block title%} {{title}} {%endblock title%}
{% load search_filter %}

{%block main%}
<hr class="offset-top">

<div class="tags">
  <div class="container">
      <div class="btn-group pull-right sorting">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ion-arrow-down-b"></i> Sorting by name
        </button>

        <ul class="dropdown-menu">
          <li class="active"><a href="#"> <i class="ion-arrow-down-c"></i> Name [A-Z]</a></li>
          <li><a href="#"> <i class="ion-arrow-up-c"></i> Name [Z-A]</a></li>
          <li><a href="#"> <i class="ion-arrow-down-c"></i> Price [Low-High]</a></li>
          <li><a href="#"> <i class="ion-arrow-up-c"></i> Price [High-Low]</a></li>
        </ul>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <hr class="offset-lg">

      <div class="filter">
        <div class="item">
          {% block productfilter %}
        <hr>
        <form action="{% url 'products'  %}" method="GET">
          {{ category|product_spec }}
        <p class="text-center">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
            <button class="btn btn-outline-info" type="submit">Сбросить</button>
        </p>
        
        </form>
    
    {% endblock productfilter %}
    
            </div>
        <br>
      </div>
    </div>
    <!-- /// -->

    <!-- Products -->
    <div class="col-sm-8 col-md-9">
      <hr class="offset-lg">

      <div class="products">
        <div class="row">
          {%if products%}
          {%for product in products%}
          <div class="col-sm-6 col-md-4 product">
            <div class="body">
              <a href="{%url 'add_to_whishlist' product.slug%}" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
              <a href="{{product.get_absolute_url}}"><img src="{{product.image1.url}}"  style="height: 180px;" alt="{{product.image1.title}}"/></a>

              <div class="content">
                <h1 class="h3">{{product.title}}</h1>
                <p class="price">${{product.price}}</p>
                {%if product.old_price%}
                <p class="price through">${{product.old_price}}</p>
                {%endif%}

                {%if product.brand_name%}
                <label>{{product.brand_name}}</label>
                {%else%}
                <label>{{product.category.name}}</label>
                {%endif%}
                <a href="{{product.get_absolute_url}}"><button class="btn btn-link"> <i class="ion-android-open"></i> Подробнее</button></a>
                <button class="btn btn-primary btn-sm rounded"> <i class="ion-bag"></i><a href="{% url 'cart_add' product.id %}"> В корзину</a></button>
              </div>
            </div>
          </div>
          {%endfor%}
       {%else%}
       <h4>Ничего не найдено...</h4>
       {%endif%}

        </div>
      </div>

    </div>
    <!-- /// -->
  </div>
</div>
{%endblock main%}