
{%extends 'base.html'%}
{% load crispy_forms_tags %}

{%block title%} {{title}} {%endblock title%}

{%block main%}


<hr class="offset-lg">

<div class="">
  <hr class="offset-lg hidden-xs">
  <hr class="offset-lg hidden-xs">
  <div class="container about">
    <div class="row">
      <div class="col-sm-6">
        <hr class="offset-lg visible-sm">
        <img src="{{about.image.url}}" alt="{{about.mini_text}}" style="max-width: 500px;" title="{{about.mini_text}}"/>
      </div>
      <div class="col-sm-6">
        <hr class="offset-lg hidden-xs hidden-sm">
        <hr class="offset-lg hidden-xs hidden-sm">
        <h2 class="featurette-heading">{{about.mini_text|safe}}</h2>
        <hr class="offset-md">

        <p class="lead">
            {{about.text|safe}}
        </p>
      </div>
    </div>
  </div>
  <hr class="offset-lg">
  <hr class="offset-lg">
</div>


<div class="gray">
    <hr class="offset-lg">
  
    <div class="container align-center">
      <h1 class="upp"> Нужна помощь? </h1>
      <p> Задайте вопрос ниже ! </p>
      <hr class="offset-md">
  
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <form class="contact" action="{% url 'feedback' %}" method="POST">
            {%csrf_token%}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary justify"> Задать вопрос </button>
          </form>
        </div>
      </div>
    </div>
    <br>
  </div>


{%endblock main%}